@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap');

html,body{
    background: url("../img/bg-intro-desktop.png"), linear-gradient(hsl(0,100%,74%), hsl(360,100%,74%));
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #fff;
}


.m-main{
    width: 85%;
    height: 100vh;
    display: flex;
    align-items: center;
    align-content: space-around;
   
}

.right-container{
    margin-left: 2rem;
    padding: 0 2rem;
}

.left-container{
    padding-left: 10rem;
}

.left-container h1{
    font-size: 2rem;
    line-height: 2.1rem;
}
.left-container p{
    padding-top: 1.1rem;
    margin-right: 1.5rem;
    font-size: 0.8rem;
}

#blue-info{
    background: hsl(248, 32%, 49%);
    padding: 0.7rem;
    margin: 0.8rem 0;
    border-radius: 0.3rem;
    box-shadow: 0.1rem 0.2rem rgba(110, 104, 104, 0.5);
    color: #fff;
    font-size: 0.7rem;
    text-align: center;

}

form{
    background-color: #fff;
    border-radius: 0.3rem;
    box-shadow: 0.1rem 0.3rem rgba(110, 104, 104, 0.5);
}

form #reg-form{
    padding: 1rem 1.5rem 0 2rem;
}

input[type=text],
    [type=email],
    [type=password],
    [type=submit]{
    width: 100%;
    padding: 0.6rem 1.5rem;
    margin-top: 1.5rem;
    border-radius: 0.3rem;
    border: 0.1rem solid #dadada;
}

#green input{
    background-color: hsl(154, 59%, 51%);
    color: #fff;
    cursor: pointer;
}

#info p{
    padding: 0.5rem 0.5rem 2rem 1rem ; 
    font-size: 0.45rem;
    color: hsl(249, 10%, 26%) ;
}

#terms{
    color: hsl(0, 100%, 74%) ;
   }


   @media screen and (max-width: 375px) {

    .m-main{
        flex-direction: column;
    }
    
   }

   